body{
    background-color: #F7F6FA;
}
* { margin: 0; padding: 0; font-size: 12px; font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif}

.main {margin: 0 auto; font-size: 12px; padding: 0}

.left-nav { width: 200px; min-height: 200px; background-color: #222d32; color: #fff; padding: 0}
.left-nav .title { height: 80px; }

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: #343a40;
}
.user-panel>.info, .user-panel>.info>a {
    color: #fff;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
p {
    margin: 0 0 10px;
}
.img-circle {
    border-radius: 50%;
}
img {
    border: 0;
}
.user-info{
    position: relative;
    width: 100%;
    padding: 10px 30px;
    overflow: hidden;
    background-color: #343a40;
}
.user-info>p {
    margin: 5px;
}
.panel-title>a{
    color: #fff;
    text-decoration: none;
}
.panel-title i{
    margin-top: 7px;
}
.panel-group{
    margin: 30px 0;
}
.panel .panel-heading{
    padding: 5px 40px;
    background-color: #6c757d;
    border-bottom: 1px solid #343a40;
}
.panel .panel-body{
    background-color: #343a40;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
}
.right-content{
    background-color: #eee;
}
.m-b-sm{
    margin-bottom: 5px;
}
.padder-m{
    padding: 10px;
}
.padder-md{
    padding: 20px;
}
.padder{
    padding: 20px 0;
}
.w-180{
    width: 180px;
}
.form-group i{
    color: #007bff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #72889F;
    background-color: #fff;
    border-bottom: 3px solid #72889F;
}
a {
    color: #000;
    text-decoration:none;
}
.nav-tabs {
    border-bottom: 1px solid #72889F;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #72889F;
    border-color: #72889F;
}

.nav-link {
    display: block;
    padding: 0.5rem 2rem;
}
.heighted{
    height: 30px;
}
.input-sm{
    height: 30px;
}
.input-group-addon{
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
}
.search_height {
    height: 40px;
}
.d-inline-block{
    display: inline-block !important;
}
.form-field-row{
    height: 40px;
    line-height: 40px;
}
.padder10{
    padding-top: 10px;
}
.input-field{
    height: 40px;
}
.require{
    color: red;
}
.line_height40{
    line-height: 40px;
}
.padder_left10{
    padding-left:10px;
}
.silder-color{
    color: #fff !important;
}
